@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-ground: #0B0B0F;
  --second-ground: #111114;
  --card-background: #141418;
  --border: #CFCFD6;
  --text-body: #CFCFD6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-open-sans: 'Open Sans', sans-serif;
  --font-main: 'Montserrat', sans-serif;
  --font-mono: var(--font-geist-mono);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
